.App {
  text-align: center;
}

.App-header {
  background-color: white;
  border-bottom: 0.1em solid lightgray;
  min-height: 8vh;
  display: flex;
  flex-direction: row;
  text-align: right;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: black;
}

.home-button {
  margin: 0.25em 1em;
}

.App-link {
  color: #61dafb;
}
